<h1> <%= @coupon.name %> for use with <%= @merchant.name %> </h1>

<p> Code: <%= @coupon.uniq_code %>, Amount Off: <%= @coupon.amt_off %><%= @coupon.converter %> </p>

<p> Status: <%= @coupon.status.capitalize %> </p>

<p>
<% if @coupon.status == "active" %>
  <%= form_with url: "/merchants/#{@merchant.id}/coupons/#{@coupon.id}?status=inactive", method: :patch do |f| %>
    <%= f.button "Disable coupon" %>
  <% end %>

  <% elsif @coupon.status == "inactive" %>
  <%= form_with url: "/merchants/#{@merchant.id}/coupons/#{@coupon.id}?status=active", method: :patch do |f| %>
    <%= f.button "Activate coupon" %>
  <% end %>

<% end %>
</p>


<section id="usage">
 Usage: <%= @count %>
</section>

